/* src/app/style/Commodity.css */
.order-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #9370DB;
    /*background-color: #000;*/
    color: #fff;
    overflow: auto;
    clear: both;
}

.order-entry .commodity-info {
    flex: 1;
}

.order-entry .commodity-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #BA55D3;
}

.order-entry .commodity-description {
    font-size: 1rem;
    color: #ccc;
}

.order-entry .commodity-seating {
    margin-left: 10px;
    font-size: 1rem;
    color: #ccc;
}

.order-entry .commodity-details {
    text-align: right;
}

.order-entry .commodity-details p {
    margin: 0;
}

.round-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #BA55D3;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 0 10px;
}

.round-button:hover {
    background-color: #9370DB;
}